<meta charset='utf-8'>
<meta name='author' content='jack@marginalian.ink'>
<meta name='description' content="<%= page.config["description"] %>"/>
<meta name='keywords' content="<%= page.config["keywords"] %>"/>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link rel='stylesheet' type='text/css' href=<%= STYLESHEET %>>
<title><%= page.config["site_name"] %></title>
