html, body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 0;
  color: #24292e;
}

a {
  text-decoration-style: underline;
  text-underline-position:under;
  text-decoration-color: #adb4ba;
  color: #000;
}

.container {
  max-width: 37.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 0.5em 3em 0.5em;
}

.container .img-container {
  text-align: center;
}

.container img {
  max-width: 37.5em;
  max-height: 30em;
}

header {
  margin-bottom: 5em;
  display: flex;
}

header .center {
  flex-grow: 1;
  text-align: center;
  font-weight: 700;
}

header .left {
  flex-shrink: 0;
  min-width: 5em;
}

header .right {
  padding-top: 1em;
  flex-shrink: 0;
  min-width: 5em;
}

header .brand {
  padding-top: 0.5em;
  font-weight: 600;
  font-size: 2em;
  text-transform: uppercase;
}

header .brand a {
  text-decoration: none;
}

/**
 * leaf
 *
 */
.leaf .caps {
  font-variant: small-caps;
  font-weight: 600;
}

.leaf h1 {
  font-size: 1.35em;
  margin-top: 1.5em;
  margin-bottom: 1.15em;
  font-weight: 500;
}

.leaf h2 {
  font-size: 1.1em;
  margin-top: 1.75em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

hr {
  border: none;
  border-top: 1px solid #cfcfcf;
  border-bottom: none;
  padding-bottom: 0.5em;
  margin-top: 1.5em;
}

.leaf p {
  line-height: 1.5em;
  margin-block-end: 1em;
}

.leaf ul {
  margin-block-start: 0.5em;
}

.leaf blockquote {
  color: #6a737d;
  margin-block-end: 0.75em;
  margin-block-start:0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  padding-bottom: 0px;
  padding-left: 1em;
  padding-right: 1em;
}

.leaf .long blockquote {
  text-align: justify;
  text-indent: 1em;
}

.leaf .nab-source {
  border-top: 1px solid #d0d3d6;
  padding-top: 0.25em;
  margin-block-end: 2em;
  color: #6a737d;
  margin-left: 1em;
  margin-right: 1em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.leaf strong {
  font-weight: 600;
}

.leaf .highlight {
  background-color: #fff7c9;
}

.leaf .pull-quote {
  color: #979ea6;
  font-weight: 500;
  font-size: 1.75em;
  margin-top: 1.5em;
  margin-left: 1em;
}

.leaf .pull-quote:before {
  color: #979ea6;
  content: open-quote;
  font-family: Helvetica;
  font-size: 2.25em;
  line-height: 0.1em;
  margin-right: 0.25em;
  margin-left: -0.75em;
  vertical-align: -0.4em;
}

.leaf .indent {
  text-indent: 1em;
}

/**
 * NAB
 *
 */
.nab {
  border-bottom: 1px solid #D1D5DA;
  padding: 1em 1em;
  margin-bottom: 1em;
}

.nab .id {
  font-style: oblique;
  color: #6a737d;
  font-size: 0.8em;
  float: right;
}

.nab .title {
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  font-size: 1.15em;
  font-weight: 700;
}

.nab .quote {
  margin-bottom: 0.5em;
  text-align: justify;
  white-space: pre-wrap;
}

.nab .note {
  background-color: #FFF9C4;
  border: 1px solid #FFEB3B;
  padding: 0.5em;
  margin: 1em 0;
}

.nab-stats {
  text-align: center;
  color: #cfcfcf;
}
