<!DOCTYPE html>
<html lang='en'>
<head>
  <%= render_partial :head %>
</head>
<body>
  <%= render_partial :header %>
  <main>
    <article class="allpagesindex">
      <%= page.to_html %>
    <article>
  </main>
</body>
