.leaf .caps {
  font-variant: small-caps;
  font-weight: 600;
}

.leaf h1 {
  font-family: DM Serif Text;
  font-size: 2.25em;
  margin-top: 0.75em;
  margin-bottom: 0.1em;
  font-weight: 400;
  line-height: 0.9;
  color: rgba(0, 0, 0, 0.8);
}

.leaf h2 {
  font-family: Markazi Text;
  font-size: 2.25em;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.leaf h3 {
  font-family: Markazi Text;
  font-size: 1.75em;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

@media only screen and (max-width: 1000px) {
  .leaf h1 { font-size: 2.25em; }
}

.leaf p {
  line-height: 1.5em;
  margin-block-end: 0.75em;
}

.leaf ul {
  margin-block-start: 0.5em;
  padding-left: 2em;
}

.leaf blockquote {
  color: #444;
  margin-block-end: 0.75em;
  margin-block-start:0.75em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  padding-bottom: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 1em 1em;
  line-height: 1.25;
}

.leaf .long blockquote {
  text-align: justify;
  text-indent: 1em;
}

.leaf .notecard-source {
  padding-top: 0.25em;
  margin-left: 1.25em;
  color: #444;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.leaf .notecard-source::before {
  margin-left: -1.25em;
  content: "—";
}

.leaf .attributed-quote {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.5em 1em 0.15em 1em;
}

.leaf .single-blockquote {
  color: #444;
  margin-block-end: 0.75em;
  margin-block-start:0.75em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  padding-bottom: 0px;
  line-height: 1.25;
}

.leaf strong {
  font-weight: 600;
}

.leaf .highlight {
  background-color: #fff7c9;
}

.leaf .pull-quote {
  font-family: Bebas Neue, sans serif;
  color: #333;
  font-size: 2.95em;
  line-height: 1.15;
}

.leaf .pull-quote.long {
  font-family: Fjalla One, sans serif;
  font-size: 1.5em;
  line-height: 1.5;
}

.leaf .pull {
  padding: 2.5em 2em 2.5em 4em;
  margin-bottom: 2em;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.leaf .pull-quote:before {
  color: #333;
  content: open-quote;
  font-family: serif;
  font-size: 1.75em;
  line-height: 0.1em;
  margin-right: 0.15em;
  margin-left: -0.75em;
  vertical-align: -0.2em;
}

.leaf .pull-quote.long:before {
  font-size: 2.5em;
}

.leaf .pull .notecard-source {
  font-family: Open Sans;
}

@media only screen and (max-width: 1000px) {
  .leaf .pull-quote { font-size: 2em; }
  .leaf .pull-quote.long { font-size: 1.25em; }
  .leaf .pull .notecard-source { font-size: 0.9em; }
}

.leaf .indent {
  text-indent: 1em;
}

.leaf pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 0.55;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.leaf code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
